{% extends 'base.html' %}

{% block title %} Customers {% endblock %}

{% block content %}

       <!-- About Section -->
        <div class="about-section">
            <div class="container">
                <h2 class="about-title">About Graell Interiors</h2>
                <p class="about-text">
                    At Graell Interiors, we believe that your space should reflect who you are and elevate the way you feel. As a premier interior design company, we specialize in creating personalized, stylish, and functional spaces that truly inspire. Whether you're transforming your home, office, or retail space, we’re here to help you bring your vision to life.
                </p>
                <p class="about-text">
                    Founded in 2020 by a passionate team of designers and creatives, Graell Interiors was born out of a desire to merge quality craftsmanship with innovative design solutions. From the very beginning, we have been dedicated to transforming spaces and creating environments that inspire and delight.
                </p>
                <p class="about-text">
                    Our team is made up of experienced interior designers, decorators, project managers, and artisans, each contributing their unique skills to deliver exceptional results. Over the years, we’ve had the pleasure of working on a wide range of projects, from residential renovations to corporate offices and commercial establishments.
                </p>
                <p class="about-text">
                    We offer a wide array of services, including residential design, commercial design, space planning, furniture & decor, consultation, and project management.
                </p>
                <p class="about-text">
                    Our approach to design is simple – we work closely with you to understand your vision, preferences, and requirements. Whether it’s a complete redesign or small upgrades, we create spaces that are not only beautiful but functional, stylish, and comfortable.
                </p>
                <p class="about-text">
                    With a focus on sustainability, creativity, and client satisfaction, we aim to deliver exceptional interior solutions that stand the test of time.
                </p>
            </div>
        </div>

{% endblock %}
