{% extends 'base.html' %}

{% block title %} Update Order {% endblock %}

{% block content %}

<div class="container py-4">
    <h2 class="text-center text-dark">Update Order Status</h2>
    
    <form action="" method="POST" enctype="multipart/form-data" class="my-4">
        {{ form.hidden_tag() }}
        
        <div class="table-responsive">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Order Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.order_status(class="form-control") }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary">Update Status</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock %}
